[adidas_sign_in] {
	margin: 0;
	flex: 1 1 auto;
	justify-content: center;
	display: flex;
	align-items: center;
	align-self: stretch;
	flex-direction: column;
	@apply --mol_skin_outline;
}

[adidas_sign_in_form] {
	margin: 0;
}

[adidas_sign_in_status] {
	width: 100%;
}
