[adidas_company] {
	flex: 1 1 400px;
}

[adidas_company_link] {
	display: block;
}

[adidas_company_close] {
	color: inherit;
	align-items: center;
	padding: 1rem;
}

[adidas_company_body] {
	padding: .5rem;
}

[adidas_company_empty] {
	padding: .5rem;
}
